<%- include ('../template/header') -%>

<% 
    let totalPrice = 0;
%>

<section id="membershipInfo">
    <h1>Membership Confirmation</h1>
    
<% if ((session.registration)) { %>

    <p class="text-danger">Thank you for registering with the WSFIA. A PayPal invoice has been sent to the selected billing e-mail address.</p>
    <div class="alert alert-secondary" role="alert">
        NOTE: New accounts have a default password of <em>123abc</em><br/>
        Please change the password for you and additional new members as soon as possible at <a href="/resetPassword">www.wsfia.org/resetPassword</a>
    </div>
        
    <div class="row">
        <div class="col-md-7">
            <img src="/images/WSFIA_Logo.png" alt="Wisconsin State Fire Inspectors Association" class="h-100" style="max-height: 100px;">
            <br /><strong>Mail checks to:</strong>
            <p>Wisconsin State Fire Inspectors Association<br />
            PO. Box 1075<br />
            Menomonee Falls, WI 53052</p>
        </div>
        <div class="col-md-5">
            <h5>Billing Information</h5>
            <% const billingInfo = session.registration.billing %>
            <%= billingInfo.billingBusiness.name %> <%= billingInfo.billingBusiness.station %><br />
            <%= billingInfo.billingBusiness.streetAddress %><br />
            <%= billingInfo.billingBusiness.city %>, 
            <%= billingInfo.billingBusiness.stateAbbreviation %> 
            <%= billingInfo.billingBusiness.zipcode %><br />
            <%= billingInfo.billingBusiness.phone %><br />
            <strong>Invoice Sent To:</strong> 
            <%= billingInfo.billingEmailAddress %><br />
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Registrant</th>
                <th scope="col" class="text-center">Quantity</th>
                <th scope="col" class="text-right">Price</th>
            </tr>
        </thead>
        <tbody>
            <% session.registration.lineItems.forEach(function(registrant, index) { 
                totalPrice += Number(registrant.price);
            %>
                <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td>
                        <strong>Item Name:</strong> <%= registrant.itemName %><br />
                        <strong>Description:</strong> <%= registrant.itemDescription %><br />
                        <strong>e-Mail Address:</strong> <%= registrant.emailAddress %>
                    </td>
                    <td class="text-center">
                        <%= registrant.quantity %>                     
                    </td>
                    <td class="text-right">
                        $<%= registrant.price %>
                    </td>
                </tr>
            <% }); %>

            <tr class="text-right">
                <td colspan="3">
                    <strong>Total Price:</strong>                    
                </td>
                <td>
                    $ <%= totalPrice.toFixed(2) %>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/login" id="backButton" style="min-width: 150px; width:25%" class="btn btn-primary">Login</a>
<% } else { %>
    <p class="text-danger">There are no registrants. Please add them by going back to the registration form.</p>
    <a href="/register/member" id="backButton" style="min-width: 150px; width:25%" class="btn btn-success">Go Back</a>
<% } %>

</section>

<%- include ('../template/footer') -%>