<%- include ('../template/header') -%>

<% let businesses = []; %>

<section id="membershipInfo">
    <h1>Membership Registration</h1>
    
<% if (session.registrants.length > 0) {  %>

    <p class="text-danger">If you would like to register multiple people click on the 
        "Add Another Person" button to fill out the registration for again. Otherwise, click on the "Register" button 
        to finish the registration process.</p>
        
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Registrant</th>
                <th scope="col">Department/Business</th>
                <th scope="col">Areas</th>
            </tr>
        </thead>
        <tbody>
            <% session.registrants.forEach(function(registrant, index) { %>
                <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td>
                        <strong>Name:</strong> <%= registrant.firstName + ' ' + registrant.lastName %><br />
                        <strong>Job Title:</strong> <%= registrant.jobTitle %><br />
                        <strong>e-Mail Address:</strong> <%= registrant.emailAddress %><br />
                        <strong>Student ID:</strong> <%= (registrant.studentId) ? registrant.studentId : 'NA' %>
                    </td>
                    <td>
                        <% registrant.businesses.forEach(function(business, index) { %>
                            <%= business.id + business.name %> <%= (business.station) ? '(Station '+ business.station +')' : '' %><br/>
                        <% }) %>

                        <% businesses = session.registrants[index].businesses.filter((b, i) => {
                            if(b.id == 1){
                                console.log(b.id);
                                return b;
                            }
                        }) %>
                        
                    </td>
                    <td>
                        <% registrant.areas.forEach(function(area) { %>
                            <%= area %><br/>
                        <% }) %>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } else { %>
    <p class="text-danger">There are no registrants. Please add them 
        by clicking on the "Add Another Person" button.</p>
<% } %>
    
<form name="membershipForm" id="membershipForm" action="/register/process" method="POST">
    <fieldset>
        <legend>Billing Information</legend>
        <p>Select a billing e-mail address:</p>
        <% session.registrants.forEach(function(registrant, index) { %>
            <%= registrant.emailAddress %>
        <% }) %>

        <p>Select a billing address:</p>
        <% businesses.forEach(function(business) { %>
            <%= business.id + '-' + business.name %><br/>
        <% }) %>
    </fieldset>
            
    <div class="form-group row">
        <div class="col-md-12 p-5 text-right">
            <button type="submit" id="registerButton" style="min-width: 150px; width:25%" class="btn btn-primary" disabled>Register</button>
            <a href="/register/member" id="nextButton" style="min-width: 150px; width:25%" class="btn btn-success">Add Another Person</a>
        </div>
    </div>
</form>

</section>

<%- include ('../template/footer') -%>