<%- include ('../template/header') -%>

<% 
    let businesses = []; 
    let businessIds = [];
    let emailAddresses = [];
%>

<section id="membershipInfo">
    <h1><% if (session.conference) { %> Conference <% } else { %> Membership <% } %> Registration</h1>
    
<% if ((session.registrants) && session.registrants.length > 0) {  %>

    <p class="text-danger">If you would like to register multiple people click on the 
        "Add Another Person" button to fill out the registration for again. Otherwise, click on the "Register" button 
        to finish the registration process.</p>
        
<form name="membershipForm" id="membershipForm" action="/register/process" method="POST">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Registrant</th>
                <th scope="col">Department/Business</th>
                <th scope="col">Areas</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% session.registrants.forEach(function(registrant, index) { 

                emailAddresses = [...emailAddresses, registrant.emailAddress];
                
            %>
                <tr class="userRow<%= index %>">
                    <th scope="row"><%= index + 1 %></th>
                    <td>
                        <strong>Name:</strong> <%= registrant.firstName + ' ' + registrant.lastName %><br />
                        <strong>Job Title:</strong> <%= registrant.jobTitle %><br />
                        <strong>e-Mail Address:</strong> <%= registrant.emailAddress %><br />
                        <strong>Student ID:</strong> <%= (registrant.studentId) ? registrant.studentId : 'NA' %>
                    </td>
                    <td>
                        <% registrant.businesses.forEach(function(business, index) { 
                            businessIds = [...businessIds, business.id];
                            businesses = [...businesses, business];
                        %>
                            
                            <%= business.name %> <%= (business.station) ? '(Station '+ business.station +')' : '' %><br/>
                        <% }); %>                        
                    </td>
                    <td>
                        <% registrant.areas.forEach(function(area) { %>
                            <%= area %><br/>
                        <% }) %>
                    </td>
                    <td>
                        <button type="button" onclick="removeRegistrant(<%= index %>, '<%= registrant.emailAddress %>')" id="removeButton" class="btn btn-danger">Remove</button>
                    </td>
                </tr>
                <% if (session.conference) { %>
                <tr class="userRow<%= index %>">

                    <td style="border-bottom: solid 1px #aaa"></td>
                    <td style="border-bottom: solid 1px #aaa" colspan="4">
                        <div class="table-responsive">
                            <table class="table">
                                <tr class="bg-transparent">
                                    <td>
                                        <p class="m-0">Select the day(s) <%= registrant.firstName + ' ' + registrant.lastName %> will be attending the conference:</p>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" onclick="setAttendingDate('<%= session.sessionId %>', '<%= registrant.emailAddress %>', 'Monday', this.checked)" name="attendingDates" id="attendingMonday<%= index %>" value="<%= index %>-Monday">
                                            <label class="form-check-label" for="attendingMonday<%= index %>">Monday</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" onclick="setAttendingDate('<%= session.sessionId %>', '<%= registrant.emailAddress %>', 'Tuesday', this.checked)" name="attendingDates" id="attendingTuesday<%= index %>" value="<%= index %>-Tuesday">
                                            <label class="form-check-label" for="attendingTuesday<%= index %>">Tuesday</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" onclick="setAttendingDate('<%= session.sessionId %>', '<%= registrant.emailAddress %>', 'Wednesday', this.checked)" name="attendingDates" id="attendingWednesday<%= index %>" value="<%= index %>-Wednesday">
                                            <label class="form-check-label" for="attendingWednesday<%= index %>">Wednesday</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" onclick="setAttendingDate('<%= session.sessionId %>', '<%= registrant.emailAddress %>', 'Thursday', this.checked)" name="attendingDates" id="attendingThursday<%= index %>" value="<%= index %>-Thursday">
                                            <label class="form-check-label" for="attendingThursday<%= index %>">Thursday</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" onclick="setAttendingDate('<%= session.sessionId %>', '<%= registrant.emailAddress %>', 'Friday', this.checked)" name="attendingDates" id="attendingFriday<%= index %>" value="<%= index %>-Friday">
                                            <label class="form-check-label" for="attendingFriday<%= index %>">Friday</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="row form-check form-check-inline">
                                            <div class="col">
                                                <input class="form-check-input" type="checkbox" onclick="setCEU('<%= session.sessionId %>', '<%= registrant.emailAddress %>', this.checked)" name="ceu" id="ceu<%= index %>" />
                                                <label class="form-check-label" for="ceu<%= index %>">Do you require CEUs?</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <input type="text" onblur="setLicenseType('<%= session.sessionId %>', '<%= registrant.emailAddress %>', this.value)" class="form-control" maxlength="32" name="licenseType" id="licenseType<%= index %>" placeholder="License Type" aria-label="License Type">
                                            </div>
                                            <div class="col">
                                                <input type="text" onblur="setLicenseNumber('<%= session.sessionId %>', '<%= registrant.emailAddress %>', this.value)" class="form-control" maxlength="24" name="licenseNumber" id="licenseNumber<%= index %>" placeholder="License Number" aria-label="License Number">
                                            </div>
                                        </div>
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <% } %>
            <% });

            
            let businessesFiltered = [];
            let emailsFiltered = [];

            emailAddresses = emailAddresses
            .filter((email, index) => {
                return emailAddresses.indexOf(email) === index;
            })
            .forEach((email, index) => {
                emailAddresses.forEach(emailAddress => {
                    if (emailAddress === email) {
                        emailsFiltered[index] = emailAddress;
                    }
                })
            })

            emailAddresses = emailsFiltered;

            businessId = businessIds
            .filter((id, index) => {
                return businessIds.indexOf(id) === index;
            })
            .forEach((id, index) => {
                businesses.forEach(business => {
                    if (business.id === id) {
                        businessesFiltered[index] = business;
                    }
                })
            })

            businesses = businessesFiltered;
            
            %>
        </tbody>
    </table>
<% } else { %>
    <p class="text-danger">There are no registrants. Please add them 
        by clicking on the "Add Another Person" button.</p>
        <a href="/register/member" id="backButton" style="min-width: 150px; width:25%" class="btn btn-success">Go Back</a>
<% } %>

<% if (session.registrants) {  %>
    

    <fieldset class="px-4">
        <legend>Billing Information</legend>
        <p class="mb-2">Select a billing e-mail address:</p>

        <% emailAddresses.forEach(function(emailAddress, index) { %>

        <div class="form-check mb-1">
            <input type="radio" onclick="validateRegistrationForm(this.form)" class="form-check-input" name="emailAddress" id="emailAddress<%= index %>" value="<%= emailAddress %>">
            <label class="form-check-label" for="emailAddress<%= index %>"><%= emailAddress %></label>
        </div>
        
        <% }) %>

        <p class="mt-4 mb-2">Select a billing address:</p>
        
        <% businesses.forEach(function(business, index) { %>

            <div class="form-check mb-1">
                <input type="radio" onclick="validateRegistrationForm(this.form)" class="form-check-input" name="business" id="business<%= index %>" value="<%= business.id %>">
                <label class="form-check-label" for="business<%= index %>"><%= business.name %></label>
            </div>

        <% }) %>

    </fieldset>
            
    <div class="form-group row">
        <div class="col-md-12 p-5 text-right">
            <button type="submit" id="registerButton" style="min-width: 150px; width:25%" class="btn btn-primary" disabled>Register</button>
            <a href="/register/member" id="nextButton" style="min-width: 150px; width:25%" class="btn btn-success">Add Another Person</a>
        </div>
    </div>
</form>

<% } %>

</section>

<%- include ('../template/footer') -%>